
javascript/intro-to-node/node_modules
javascript/mongodb-in-node/node_modules
javascript/mongodb-in-node/.env
javascript/mongodb-in-node/db
javascript/discord-bot-dev-in-node/node_modules
javascript/discord-bot-dev-in-node/.env
javascript/discord-js-13-using-ts/node_modules
javascript/discord-js-13-using-ts/.env

javascript/advanced-asynchronous-javascript/node_modules
solidity/node_modules
javascript/basic-problems/node_modules

rust/dynamic-2d-vec/target
rust/hourglass-in-2d-array/target
rust/lifetime-specifier-exercise/target
rust/password-generator/target
python/computational-biology/_10-boyer-moore/__pycache__

solidity/artifacts
solidity/cache