
*/**/.env
.clj-kondo
.lsp

python/**/__pycache__

solidity/**/artifacts
solidity/**/cache
solidity/**/node_modules

haskell/**/dist-newstyle
rust/**/target
javascript/**/node_modules
javascript/**/build
elm/**/node_modules
elm/**/elm-stuff
clojure/**/target

javascript/mongodb-in-node/db
